*{
	margin: 0;
	padding: 0;
}
a {
  text-decoration: none;
}
body {
	/* overflow-x: hidden; */
	scroll-behavior: smooth;
	position: relative;
}

/* start section time */
.sec-time {
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #104cba;
	color: white;
	font-size: 12px;
	font-weight: 500;
}
.time {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.time ul {
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin: 0;
}
.time ul li {
	margin-right: 20px;
}
.sec-time .time-itme {
	display: flex;
	justify-content:space-around;
}
.sec-time .time-itme p {
	margin: 0;
}
.sec-time .time-itme .logo svg {
	margin: 0 5px;	display: inline-block;
} 
/* end section time */

/* start section home */
.sec-home {
	overflow: hidden;
	min-height: 94vh;
	background-image: url(../imges/asset\ 24.jpeg);
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.sec-home::after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: rgb(16 76 186 / 24%);
}
.sec-home * {
	z-index: 1;
}
.sec-home .navbar {
	border-bottom: 1px solid #ffffff69;
}
.sec-home .navbar .navbar-brand h3 {
color: white;
}
.nav-link {
	color: white;
	font-size: 14px;
	font-weight: 500;
}
.nav-link.active {
	color: #b0c0b7;
}
.nav-link:hover {
	color: #b0c0b7;
}
.sec-home nav .collapse .navbar-nav li a:hover {
	color: #b0c2d7;
}
nav .navbar-toggler {
	width: fit-content;
	font-size: 35px;
	color: white;
	font-size: 25px;
	padding: 2px 5px;
}
nav .navbar-toggler:focus {
	box-shadow: none;
	outline: none;
	border: 2px solid white;
}
.sec-home nav .btn {
	border-radius: 5px;
	background-color: rgb( 16, 76, 186);
	padding: 10px 11px;
	font-size: 13px;
	color: #fff;
	font-weight: 600;
} 
.sec-home nav .btn:hover {
	background-color: #1d2c38;
}
.sec-home .content {
	margin: 150px 0 0;
}
.sec-home .content p {
	color: #fff;
	font-size: 15px;
}
.sec-home .content h1 {
	color: white;
	font-size: 50px;
	margin: -9px 0px 35px -4px;
}
.sec-home .content div {
	display: flex;
	align-items: center;
}
.sec-home .content div a {
	border-radius: 5px;
	padding: 10px 11px;
	font-size: 13px;
	color: #fff;
	font-weight: 600;
	background-color: rgb( 16, 76, 186);
}
.sec-home .content div a:hover {
	background-color: #1d2c38;
}
.sec-home .content div svg {
	font-size:15px ;
	width: 15px;
	height: 15px;
	background: #fff;
	display: inline-block;
	margin-left: 15px;
	border-radius: 50%;
	color: #104cba;
	padding: 10px;
	text-align: center;
	transition: 0.5s;
}
.sec-home .content div svg:hover {
box-shadow: 0 0 1px 15px rgb(255 255 255 / 40%),
 0 0 1px 25px rgb(255 255 255 / 10%),
 0 0 1px 35px rgb(255 255 255 / 6%);
}
/* end section home */

/* start section service */
.sec-service {
	padding: 100px 0;
}
.sec-service .content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 50px;
}
.sec-service .content .content1 p {
	font-size: 13px;
	font-weight: 700;
	color: #104cba;
}
.sec-service .content .content1 h2 {
	color: #1d2c38;
	margin-bottom: 25px;
}
.sec-service .content .content2 p {
	font-size: 13px;
}
.sec-service .imges .row {
	display: flex;
	justify-content: space-evenly;
}
.sec-service .imges-itme {
	display: flex;
	justify-content: space-evenly;
	padding: 15px;
	width: 300px;
	margin: 20px 0;
	box-shadow: 0 0 13px 3px #bbb;
	transition: 0.5s;
}
.sec-service .imges-itme:hover {
	transform: scale(1.1);
}
.sec-service .imges-itme img {
	width: 100%;
}
.sec-service .imges-itme div h6 {
	margin: 10px 0;
	font-size: 12px;
	font-weight: 700;
	color: #104cba;
}
.sec-service .imges-itme div p {
	margin: 0px;
	font-size: 20px;
}
/* end section service */

/* start section logo */
.sec-logo .container {
	display: flex;
	justify-content: center;
	margin-bottom: -70px;
}
.sec-logo .row {
	display: flex;
	justify-content: center;
	width: fit-content;
	background-color: white;
	padding: 10px 0;
}
.sec-logo .row>* {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.sec-logo .service-itme img{
	margin: 0 35px;
	padding: 15px;
}
/* end section logo */

/* start section content-servided */
.sec-content-servided {
	background-color: #104cba;
	padding: 200px 0 100px;
}
.sec-content-servided .content-servided-itme {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	margin: 40px 0;
}
.sec-content-servided .content-servided-itme .p1 {
	font-size: 100px;
	color: #f5deb312;
	position: absolute;
	top: -100px;
}
.sec-content-servided .content-servided-itme img {
	width: 100px;
	border-radius: 50%;
}
.sec-content-servided .content-servided-itme h6 {
	text-align: center;
	margin: 15px 0;
	color: white;
}
.sec-content-servided .content-servided-itme .p2 {
	font-size: 12px;
	text-align: center;
	color: white;
}
.sec-content-servided .content-servided-itme a {
color: white;
font-size: 13px;
}
.sec-content-servided .content-servided-itme a:hover {
	color: #14202c;
}
/* end section content-servided */

/* start section support */
.sec-support {
	padding: 100px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.sec-support .img{
	display: flex;
	justify-content: center;
	margin: 10px 0;
}
.sec-support .img img {
	width: 85%;
}
.sec-support .content {
	padding-top: 40px;
}
.sec-support .content .p1 {
	color: #104CBA;
	font-size: 12px;
	font-weight: 600;
}
.sec-suppotr .content h5 {
	font-size: 30px;
	font-weight: 600;
	color: #1D2C38;
}
.sec-support .content .p2 {
	font-size: 14px;
	color: #bbb;
}
.sec-support .content ul {
margin: 0;
padding: 0;
}
.sec-support .content ul li {
	list-style: none;
	display: flex;
	gap: 15px;
}
.sec-support .content ul li svg {
	color: #104CBA;
	font-size: 13px;
}
.sec-support .content ul li p {
	font-size: 13px;
	color: #1D2C38
}
.sec-support .content a {
	display: inline-block;
	margin-top: 30px ;
	padding: 10px 20px;
	color: #104CBA;
	background-color: #E7EDF8;
	border-radius: 5px;
	font-size: 15px;
	font-weight: 600;
}
.sec-support .content a:hover {
	background-color: #1D2C38;
	color: #fff;
}
/* end section support */

/* start section teme */
.sec-team {
	background-color: #14202c;
	padding: 100px 0 0;
	color: #fff;
}
.sec-team .content p {
	text-align: center;
	font-size: 12px;
	font-weight: 600;
}
.sec-team .content h5 {
	text-align: center;
	font-size: 30px;
	margin-bottom: 50px;
}
.sec-team .card {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #14202c ;
	flex-direction: row;
	border: none;
	flex-wrap: wrap;
}
.sec-team .card .card-itme {
	margin: 15px;
	width: 200px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.sec-team .card img {
width: 100%;
border-radius: 5px;
}
.sec-team .card .cont {
	width: 80%;
	text-align: center;
	width: 80%;
	background-color: #223441;
	padding: 10px 0 0px;
	position: relative;
	top: -25px;
	border-radius: 5px;
}
.sec-team .card .cont:hover {
	background-color: #104CBA;
}
.sec-team .card .cont h5,
.sec-team .card .cont p {
	font-size: 13px;
	font-weight: 600;
}
/* end section teme */

/* start section reviews */
.sec-reviews {
	padding: 80px 0;
	background-color: #E7EDF8;
}
.sec-reviews .content {
	text-align: center;
}
.sec-reviews .content p {
	text-align: center;
	color: #104cba;
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 10px;
}
.sec-reviews .content h6 {
	color: #14202c;
	text-align: center;
	font-size: 30px;
	margin-bottom: 50px;
}
.sec-reviews .number {
	display: flex;
	flex-wrap: wrap;
	margin: 25px 0;
}
.sec-reviews .number .num-itme {
	display: flex;
	justify-content: center;
	margin: 10px 0;
	flex-direction: column;
	align-items: center;
}
.sec-reviews .number .num-itme :nth-child(1) {
	font-size: 40px;
	font-weight: bold;
	color: #104cba;
	margin-bottom: 5px;
}
.sec-reviews .number .num-itme :nth-child(2){
	font-size: 18px;
	font-weight: bold;
	color: #14202c;
}
.sec-reviews .card {
	display: flex;
	justify-content: center;
	flex-direction: row;
	border: none;
	background-color: #E7EDF8;
	flex-wrap: wrap;
}
.sec-reviews .card .card-itme {
	width: 375px;
	padding: 15px;
	background-color: white;
	margin: 10px;
}
.sec-reviews .card .card-itme .img {
display: flex;
}
.sec-reviews .card .card-itme .img img {
	width: 50px;
	margin-right: 15px;
}
.sec-reviews .card .card-itme .p {
	font-size: 12px;
	margin-bottom: 0;
}
/* end section reviews */

/* start prices */
.sec-prices {
	padding: 80px 0;
}
.sec-prices .content {
	text-align: center;
}
.sec-prices .content p {
	text-align: center;
	color: #104cba;
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 10px;
}
.sec-prices .content h5 {
	color: #14202c;
	text-align: center;
	font-size: 30px;
	margin-bottom: 50px;
	font-weight: bold;
}
.sec-prices .card {
	flex-direction: row;
	border: none;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.sec-prices .card .card-itme {
	max-width: 250px;
	border: 1px solid #eee;
	margin: 10px;
}
.sec-prices .card .card-itme .content1 {
	padding: 25px;
	border-radius: 0 0 150px 150px;
	width: 250px;
	height: 150px;
	background-color: #e9eaeb;
}
.sec-prices .card .card-itme .content1  :nth-child(1) {
	margin-bottom: 5px;
	font-size: 14px;
	font-weight: bold;
	color: #14202c;
}
.sec-prices .card .card-itme .content1 :nth-child(2) {
	font-size: 35px;
	font-weight: bold;
	color: #104cba;
}
.sec-prices .card .card-itme .content1 :nth-child(2) span {
	font-size: 18px;
	color: #104cba;
}
.sec-prices .card .card-itme .content1 :last-child {
	font-size: 11px;
	color: #73767c;
	font-weight: 700;
}
.sec-prices .card .card-itme .content2 p {
	padding: 25px ;
	font-size: 13px;
}
.sec-prices .card .card-itme .content2 a {
	background-color: blue;
	padding: 10px 20px;
	color: white;
	border-radius: 30px;
	font-size: 15px;
	font-weight: 600;
	margin-bottom: 15px ;
	display: inline-block;
	border: 1px solid #14202c;
	transition: 0.5s;
}
.sec-prices .card .card-itme .content2 a:hover {
	background-color: white;
	color: #14202c;
}
/* end section prices */

/* start section latext-news*/
.sec-latext-news {
	padding: 75px 0;
	background-color: #104cba;
}
.sec-latext-news .latext-news {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
.sec-latext-news .latext-news .cont h5 {
	font-size: 30px;
	color: white;
	font-weight: 600;
	padding-left:10px;
	margin-bottom: 30px;
}
.sec-latext-news .latext-news .input {
	border: 1px solid white;
	padding: 10px;
	width: 300px;
	display: flex;
	margin-top: 0px;
	justify-content: space-between;
	position: relative;
	margin-top: 20px;
}
.sec-latext-news .latext-news .input input {
	background-color: transparent;
	outline: none;
	border: none;
	padding-left: 10px;
	color: white;
}
.sec-latext-news .latext-news .input input::placeholder {
	color: white;
}
.sec-latext-news .latext-news .input button {
	border-radius: 5px;
	padding: 5px 10px;
	background-color: #ffffff;
	color: #091d3e;
	outline: none;
	border: none;
	font-size: 14px;
	font-weight: bold;
	position: absolute;
	right: 10px;
	top : 7px
}
.sec-latext-news .latext-news .input button:hover {
	background-color: #14202c;
	color: white;
}
/* end section latext-news */

/* start start section projacts */
.sec-projacts {
	background-color:#E7EDF8 ;
	padding: 100px 0 50px;
}
.sec-projacts .projacts {
	display: flex;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: -130px;
}
.sec-projacts .projacts .projacts-itme {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	margin: 30px 0;
	max-width: 300px;
	transition: 0.5s;
}
.sec-projacts .projacts .projacts-itme:hover {
	margin-top: -20px;
}
.sec-projacts .projacts .projacts-itme img {
	width: 300px;
	border-radius: 5px;
}
.sec-projacts .projacts .projacts-itme a {
	position: absolute;
	bottom: 13px;
	width: 90%;
	background: #ffffff;
	margin: 0 auto;
	left: 0px;
	right: 0;
	border-radius: 5px;
	padding: 10px 20px;
	transition: .5s;
	color: black;
}
.sec-projacts .projacts  .projacts-itme a:hover {
	background-color: #104cba;
	color: white;
}
/* end section projacts */

/* start section blogs */
.sec-blogs {
	padding: 150px 0;
	background-image: linear-gradient(360deg, #d7d7d7, white);
}
.sec-blogs .content {
	text-align: center;
}
.sec-blogs .content p {
	text-align: center;
	color: #104cba;
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 10px;
}
.sec-blogs .content h5 {
	color: #14202c;
	text-align: center;
	font-size: 30px;
	margin-bottom: 50px;
	font-weight: bold;
}
.sec-blogs .card {
	flex-direction: row;
	display: flex;
	justify-content: center;
	border: none;
	flex-wrap: wrap;
	background-color: transparent;
}
.sec-blogs .card .card-itme {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: transparent;
	position: relative;
	margin: 20px 25px;
	max-width: 300px;
}
.sec-blogs .card .card-itme div {
	margin: -15px 30px 0 0;
	width: 270px ;
	background-color: white;
	border-radius: 5px;
	padding: 20px 15px 15px;
}
.sec-blogs .card .card-itme div .p {
	display: flex;
	gap: 30px;
	margin: -15px;
}
.sec-blogs .card .card-itme div .p p {
	font-size: 13px;
	color:#14202c;
	font-weight: 600;
}
.sec-blogs .card .card-itme div h6 {
	font-size: 17px;
	font-weight: 700;
}
.sec-blogs .card .card-itme div p {
	font-size: 14px;
}
.sec-blogs .card .card-itme div img {
	position: absolute;
	width: 35px;
	border-radius: 50%;
	top: 146px;
}
/* end section blogs */

/* start section contact */
.sec-contact {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 100px 0;
}
.sec-contact .contact {
	flex-wrap: wrap;
	background-color: white;
  margin-bottom: -190px;
}
.sec-contact .row {
	display: flex;
	justify-content: center;
}
.sec-contact form {
	padding: 10px;
}
.sec-contact form h5 {
	font-size: 25px;
	font-weight: bold;
	margin: 20px;
	color: #091d3e;
}
.sec-contact form .input {
	margin: 30px auto;
	gap: 20px;
	display: flex;
}
.sec-contact form .input div {
	width: 50%;
}
.sec-contact form .input .input-itme {
	position: relative;
}
.sec-contact form .input input {
	width: 100%;
	height: 50px;
  padding: 10px;
	position: relative;
}
.sec-contact form .input svg {
	position: absolute;
	top: 15px;
	right: 10px;
	color: #0013ff;
	}
.sec-contact form div input::placeholder{
	color: #091d3e;
}
.sec-contact form .input-text {
	position: relative;
}
.sec-contact form textarea {
	width: 100%;
	height: 140px;
	padding: 10px;
}
.sec-contact form  textarea::placeholder{
	color: #091d3e;
}
.sec-contact form .input-text svg {
	position: absolute;
	top: 15px;
	right: 10px;
	color: #0013ff;
}
.sec-contact form button {
	margin: 10px 20px;
	padding: 10px 20px;
	background-color: blue;
	color: white;
	font-size: 17px;
	border: 1px solid blue;
	border-radius: 10px;
	outline: none;
}
.sec-contact form button:hover {
	background-color: #14202c;
}
.sec-contact .contact {
	padding: 30px;
	box-shadow: 0 0 26px 0 #c5c5c5;
	max-width: 1000px;
	display: flex;
}
.sec-contact .cont {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	position: relative;
	background-image: url(../imges/asset\ 0.jpeg);
	background-size: cover;
}
.sec-contact .cont span{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.8;
	background-color: #104CBA;
	background-image: linear-gradient(182deg, #0000009e, #0013ff);
}
.sec-contact .cont * {
	z-index: 1;
}
.sec-contact .cont .cont-itme {
	display: flex;
	align-items: center;
	gap: 20px;
	margin-bottom: 30px;
}
.sec-contact .cont h5 {
	font-size: 30px;
	color: white;
	font-weight: 700;
	margin: 35px 0;
}
.sec-contact .cont svg {
	color: #FFFFFF;
	background-color: #4D7BCC;
	font-size: 20px;
	border-radius: 100%;
	padding: 10px;
}
.sec-contact .cont .cont-itme p {
	margin: 0;
	font-weight: 700;
	color: #b8caea;
}
.sec-contact .cont .cont-itme h6 {
	margin: 5px 0;
	font-weight: bold;
	color: white;
}
/* end section contact */

/* start section footer */
footer {
	padding: 200px 0 0;

	background-image: url(../imges/asset\ 26.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	background-color: #091D3E;
}
footer .content {
	display: flex;
	margin-bottom: 20px;
	flex-wrap: wrap;
}
footer h4 {
	color: white;
	font-weight: 600;
	margin-bottom: 30px;
}
footer .content p {
	font-size: 15px;
	color: #bdc2cb;
	max-width: 225px;
}
footer .Company {
	margin-bottom: 25px;
	padding-right: 55px;

}
footer .Company .inco {
	display: flex;
	align-items: center;
	gap: 20px;
}
footer .Company .inco p {
	margin: 0;
	font-size: 14px;
	color: #bdc2cb;

}
footer .Company .inco svg {
	background: #223452;
	border-radius: 50%;
	text-align: center;
	color: #bdc2cb;
	font-size: 17px;
	padding: 11px;
}
footer .Page {
	margin-bottom: 25px;
}
footer .Page ul {
	padding: 0;
	margin: 0 ;
	list-style: none;
}
footer .Page ul li {
	margin: 0 0 7px 0;
	font-size: 15px;
}
footer .Page ul li a {
	color: #bdc2cb;	
}
footer .Contacts div {
	display: flex;
	align-items: center;
	gap: 15px;
	margin: 0 0 15px 0;
}
footer .Contacts div svg {
	color: #bdc2cb;
}
footer .Contacts div p {
	margin: 0;
	color: #bdc2cb;	
}
footer .Subscribe div {
	padding: 10px 4px;
	border: 1px solid #4d79cc;
	border-radius: 50px;
	display: flex;
	align-items: center;
	margin-top: 20px;
	max-width: 212px;
}
footer .Subscribe div input {
	width: 150px;
	background-color: transparent;
	border: none;
	outline: none;
	margin: 0 5px 0 13px;
}
footer .Subscribe div input::placeholder {
	color: #bdc2cb;
	font-size: 15px;
}
footer .Subscribe div svg {
	font-size: 30px;
	color: #4d79cc;
	background-color: white;
	border-radius: 50px;
}
footer .copy {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 25px;
	border-top: 3px solid #223452;
	flex-wrap: wrap;
}
footer .copy .inco {
	font-size: 20px;
	margin: 15px 0;

}
footer .copy .inco svg {
	margin-right: 10px;
}
footer .copy .p p {
	margin: 0;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	margin: 15px;
}
/* end section footer */

/* start button top */
.top {
	position:fixed;
	right: 25px;
	bottom: 20px;
	padding: 5px 8px 0px 8px;
	background-color: #2058bf;
	color: white;
	font-size: 20px;
	border-radius: 10px;
	display: inline-block;
	text-align: center;
	display: none;
	transition: 1s;
}
.top:hover {
	color: white;
}
/* end button top */
